# Bell Daemon

[Unit] 
Description= Bell daemon
Documentation= file:/var/www/html/help.php http://localhost/help.php

Requiers= mysql.service httpd.service
Wants= mysqld.service httpd.service
After= mysqld.service

[Service]
ExecStart=/sbin/dcontrol exec-up
ExecReload=/bin/kill -HUP AINPID
KillMode=process		
[Install]
WantedBy=multi-user.target 