td.bg {
	background-color : #ffffff;
	
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px 5px 5px 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid rgb(0, 0, 0);
	

}
td.buttons {
	background-color : #ffffff;
	
	border-radius: 5px 5px 5px 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid rgb(0, 0, 0);
	

}
div.banner{
	margin: 0px;
	text-align: left;
}
table.main_box {
	max-width: 50%;
	min-width: 40%;
}

td.err_box {
	border: 2px solid #DE2525;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.3);
	
	background-color : #eeeeee;
	padding: 8px;
	
}
td.main_box {
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
}
div.table_heads{
	/*font: 14pt/16pt fantasy, cursive, Serif;*/
	color : #777777;  
}
table.main {
	
	border-radius: 5px 5px 5px 5px;
	border-collapse: collapse;
	width: 100%;
}
table.inboxer {
    
	width: 100%;
}
td.entry {
	
	border: 1px solid rgb(0, 0, 0);
	padding-right: 15px;	
	padding-left: 15px;
	text-align: centre;	
}
th.entry {
	
	border: 1px solid rgb(0, 0, 0);
	padding-right: 15px;	
	padding-left: 15px;
	text-align: centre;	
}
tr.entry {

	background-color : #eeeeee;
	
}
tr.shown_entry {

	background-color : #777777;  
	
}
div.entry {
	background-color : #777777;  
	text-align: centre;
	color: rgb(0, 0, 0);
}
body { 
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 2%;
    background: #eeeeee; 
   
    
    /*
     * #72f0f0;
    padding-top: 5%;
    padding-bottom: 5%;
    
    padding-right: 15%;
    padding-left: 15%;
    */
    
    /*padding: 8px;*/
}
